In [1]:
import pandas as pd

In [5]:
df = pd.read_csv("https://raw.githubusercontent.com/PhilippeCodes/World-Happiness-Report-Data-Analysis/refs/heads/master/World%20Happiness%20Report.csv")
df.head()

,Country,Happiness Rank,Happiness Score,Economy,Family,Health,Freedom,Generosity,Corruption,Dystopia,Job Satisfaction,Region
0,Norway,1,7.537,1.616463,1.533524,0.796667,0.635423,0.362012,0.315964,2.277027,94.6,Western Europe
1,Denmark,2,7.522,1.482383,1.551122,0.792566,0.626007,0.355280,0.400770,2.313707,93.5,Western Europe
2,Iceland,3,7.504,1.480633,1.610574,0.833552,0.627163,0.475540,0.153527,2.322715,94.5,Western Europe
3,Switzerland,4,7.494,1.564980,1.516912,0.858131,0.620071,0.290549,0.367007,2.276716,93.7,Western Europe
4,Finland,5,7.469,1.443572,1.540247,0.809158,0.617951,0.245483,0.382612,2.430182,91.2,Western Europe

In [7]:
df.isna().sum()

Country             0
Happiness Rank      0
Happiness Score     0
Economy             0
Family              0
Health              0
Freedom             0
Generosity          0
Corruption          0
Dystopia            0
Job Satisfaction    2
Region              0
dtype: int64

In [9]:
df.dropna(inplace= True)

In [13]:
df.duplicated().sum()

0

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 151 entries, 0 to 152
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Country           151 non-null    object
 1   Happiness Rank    151 non-null    int64
 2   Happiness Score   151 non-null    float64
 3   Economy           151 non-null    float64
 4   Family            151 non-null    float64
 5   Health            151 non-null    float64
 6   Freedom           151 non-null    float64
 7   Generosity        151 non-null    float64
 8   Corruption        151 non-null    float64
 9   Dystopia          151 non-null    float64
 10  Job Satisfaction  151 non-null    float64
 11  Region            151 non-null    object
dtypes: float64(9), int64(1), object(2)
memory usage: 15.3+ KB

In [24]:
df.columns = df.columns.str.lower()

### Feature Engineering

In [28]:
df['happiness ratio '] = df['happiness score']/ df['happiness score'].max()
df.head(2)

,country,happiness rank,happiness score,economy,family,health,freedom,generosity,corruption,dystopia,job satisfaction,region,happiness ratio
0,Norway,1,7.537,1.616463,1.533524,0.796667,0.635423,0.362012,0.315964,2.277027,94.6,Western Europe,1.00000
1,Denmark,2,7.522,1.482383,1.551122,0.792566,0.626007,0.355280,0.400770,2.313707,93.5,Western Europe,0.99801

In [32]:
regions = df['region'].value_counts()
regions

region
Asia-Pacific      43
Africa            43
Latin America     22
Eastern Europe    21
Western Europe    19
North America      2
Europe             1
Name: count, dtype: int64

In [38]:
df['region_ID']= df['region'].apply(lambda x: 'A1' if x =='Asia-Pacific' else ('A2' if x =='Africa' else 'L1' if x == 'Latin America' else 'E1' if x == 'Eastern Europe' else 'W1' if x == 'Western Europe' else 'N1' if x == 'North America' else 'E2'))

In [44]:
df.tail(5)

,country,happiness rank,happiness score,economy,family,health,freedom,generosity,corruption,dystopia,job satisfaction,region,happiness ratio,region_ID
148,Rwanda,151,3.471,0.368746,0.945707,0.326425,0.581844,0.252756,0.455220,0.540061,51.7,Africa,0.460528,A2
149,Syria,152,3.462,0.777153,0.396103,0.500533,0.081539,0.493664,0.151347,1.061574,62.7,Asia-Pacific,0.459334,A1
150,Tanzania,153,3.349,0.511136,1.041990,0.364509,0.390018,0.354256,0.066035,0.621130,57.8,Africa,0.444341,A2
151,Burundi,154,2.905,0.091623,0.629794,0.151611,0.059901,0.204435,0.084148,1.683024,54.3,Africa,0.385432,A2
152,Central African Republic,155,2.693,0.000000,0.000000,0.018773,0.270842,0.280876,0.056565,2.066005,70.4,Africa,0.357304,A2

In [56]:
average_happiness = df.groupby(['country'])['happiness score'].mean()
average_happiness

country
Afghanistan    3.794
Albania        4.644
Algeria        5.872
Angola         3.795
Argentina      6.599
               ...
Venezuela      5.250
Vietnam        5.074
Yemen          3.593
Zambia         4.514
Zimbabwe       3.875
Name: happiness score, Length: 151, dtype: float64

In [70]:
average_happiness_ten = df.groupby(['country'])['happiness score'].mean().sort_values(ascending=False).iloc[0:10]
average_happiness_ten

country
Norway         7.537
Denmark        7.522
Iceland        7.504
Switzerland    7.494
Finland        7.469
Netherlands    7.377
Canada         7.316
New Zealand    7.314
Australia      7.284
Sweden         7.284
Name: happiness score, dtype: float64

In [76]:
region_happiness_max = df.groupby(['region'])['happiness score'].mean().idxmax()
region_happiness_max

'North America'